Source: tivsm
Section: admin
Priority: extra
Maintainer: Marco d'Itri <md@linux.it>
Standards-Version: 4.5.0.3
Build-Depends: debhelper-compat (= 12), cpio, rpm2cpio
Rules-Requires-Root: no
Vcs-Git: https://github.com/rfc1036/tivsm-deb.git
Vcs-Browser: https://github.com/rfc1036/tivsm-deb
Homepage: https://www.ibm.com/support/knowledgecenter/en/SSEQVQ

Package: tivsm
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: gskcrypt64, gskssl64, tivsm-api64, tivsm-ba,
  tivsm-apicit, tivsm-bacit, tivsm-bahdw, tivsm-jbb,
Replaces: gskcrypt64, gskssl64, tivsm-api64, tivsm-ba,
  tivsm-apicit, tivsm-bacit, tivsm-bahdw, tivsm-jbb,
Description: Tivoli Storage Manager Client
 This is an unofficial Debian package of the IBM Tivoli Storage Manager
 Client.
 .
 The Java GUI is not part of this package.
