Source: tivsm
Section: admin
Priority: extra
Maintainer: Marco d'Itri <md@linux.it>
Build-Depends: debhelper (>= 7), cpio, rpm2cpio
Standards-Version: 4.5.0.3
Vcs-Git: https://github.com/rfc1036/tivsm-deb.git
Vcs-Browser: https://github.com/rfc1036/tivsm-deb
Homepage: https://www.ibm.com/support/knowledgecenter/en/SSEQVQ

Package: tivsm
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base
Description: Tivoli Storage Manager Client
 This is an unofficial Debian package of the IBM Tivoli Storage Manager
 Client.
 .
 The Java GUI is not part of this package.
