#!/usr/bin/make -f
SHELL+= -e

# uncomment to enable installing the VMWare plugins
#HAVE_VMWARE = 1

D := $(CURDIR)/debian/tivsm
T := $(CURDIR)/tmp

TIVSM_BA := $T/usr/bin/dsmc
TIVSM_BA_RPM := $(CURDIR)/../TIVsm-BA.x86_64.rpm
TIVSM_API := $T/usr/lib64/libApiTSM64.so
TIVSM_API_RPM := $(CURDIR)/../TIVsm-API64.x86_64.rpm
GSK_CRYPT := $T/usr/local/ibm/gsk8_64/lib64/libgsk8iccs_64.so
GSK_CRYPT_RPM := $(CURDIR)/../gskcrypt64-*.linux.x86_64.rpm
GSK_SSL := $T/usr/local/ibm/gsk8_64/lib64/libgsk8km_64.so
GSK_SSL_RPM := $(CURDIR)/../gskssl64-*.linux.x86_64.rpm

clean:
	dh_testdir
	-rm -rf $T
	dh_clean

build: $T $(TIVSM_BA) $(TIVSM_API) $(GSK_CRYPT) $(GSK_SSL)

$T:
	mkdir $@

$(TIVSM_BA): $(TIVSM_BA_RPM)
	cd $T && rpm2cpio $< | cpio --extract --verbose --make-directories --no-absolute-filenames --sparse

$(TIVSM_API): $(TIVSM_API_RPM)
	cd $T && rpm2cpio $< | cpio --extract --verbose --make-directories --no-absolute-filenames --sparse

$(GSK_CRYPT): $(GSK_CRYPT_RPM)
	cd $T && rpm2cpio $< | cpio --extract --verbose --make-directories --no-absolute-filenames --sparse

$(GSK_SSL): $(GSK_SSL_RPM)
	cd $T && rpm2cpio $< | cpio --extract --verbose --make-directories --no-absolute-filenames --sparse

binary-arch: build
	dh_testdir
	dh_prep

	dh_installdirs /usr/lib/
	cp -a $T/* $D/

	dh_installdocs
	dh_installexamples

	# update the symlinks because the directory containing them
	# is being moved one level down
	for file in $D/usr/lib64/*; do \
		ln -sf "../$$(readlink $$file)" $$file ;\
	done
	mv $D/usr/lib64/ $D/usr/lib/x86_64-linux-gnu/

	mv $D/usr/local/ibm/gsk8_64/lib64/* $D/usr/lib/x86_64-linux-gnu/
	mv $D/usr/local/ibm/gsk8_64/bin/* $D/usr/bin/
	rm -rf $D/etc/ $D/usr/local/ $D/usr/lib/x86_64-linux-gnu/*/icc/ReadMe.txt

	cd $D && find . -name '*.htm' | xargs rm
	cd $D && find . -name '*.jar' | xargs rm
	cd $D && find . -name '*.smp' | xargs rm
	cd $D/opt/tivoli/tsm/client/ && rm -rf \
		ba/bin/dsmcad ba/bin/rc.dsmcad ba/bin/dsmcad.service \
		api/properties/ ba/properties/ \
		api/swidtag/ ba/swidtag/ \
		ba/bin/dsmj ba/bin/favicon.ico ba/bin/images/ \
		ba/bin/configFile ba/bin/commonFunctions ba/bin/*.sh \
		ba/bin/nasdcm.lic api/bin64/sample/ ba/client_message.chg
	cd $D && rm -rf usr/bin/dsmcad etc/init.d/dsmcad usr/bin/dsmj \
		opt/tivoli/tsm/license/

	cp dsm.sys $D/opt/tivoli/tsm/client/ba/bin/dsm.sys.smp

	for dir in api/bin64/ ba/bin/; do \
		cd $D/opt/tivoli/tsm/client/$$dir && \
		rm -rf CS_CZ DE_DE ES_ES FR_FR HU_HU JA_JP KO_KR PL_PL PT_BR RU_RU ZH_CN ZH_TW ;\
	done

	dh_link

	# these libraries are used by the vmware plugins, and probably
	# you want to use the system copies anyway
	cd $D/opt/tivoli/tsm/client/api/bin64/ && \
		rm -f libcrypto.so.* libssl.so.*

ifndef HAVE_VMWARE
	# Remove VMWare integration
	cd $D/opt/tivoli/tsm/client/ && rm -rf \
		ba/bin/*.so \
		ba/bin/plugins/ ba/bin/vmtsmvss/ ba/bin/vmscan/ \
		api/bin64/libTsmViSdk*.so api/bin64/libVM*.so
endif

	ln -sf ../../ba/bin/dsmcert $D/opt/tivoli/tsm/client/api/bin64/

	dh_installchangelogs
	dh_compress
	dh_fixperms
	# ICC fails the self-test if modified!
	dh_strip --exclude=/usr/lib/x86_64-linux-gnu/C/ --exclude=/usr/lib/x86_64-linux-gnu/N/
	# with -X we avoid the hard dependencies needed by the vmware plugins
	dh_shlibdeps \
	  -l/opt/tivoli/tsm/client/api/bin64/:/opt/tivoli/tsm/client/ba/bin/ \
	  -Xlibvix -XlibdiskLibPlugin.so -Xlibvmomi.so -Xlibgvmomi.so \
	  -XlibTsmViSdk.so
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

binary: binary-indep binary-arch

build-arch: build
build-indep: build

.PHONY: binary binary-arch binary-indep build build-arch build-indep clean checkroot
